* {
  box-sizing: border-box;
}
h1{
    text-align: center;
    color:black;
    font-family: 'Jacques Francois Shadow', cursive;
}
h2{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

h3{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#text {
font-family: 'Josefin Sans', sans-serif;
padding: 2%;
}

.click{
  width: 100px;
  border-style:solid;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
}  

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: 1px solid black;
  outline: none;
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  scroll-behavior: smooth;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: #f3f3f3;
}

html {
 scroll-behavior: smooth;
}


.menu a{
  font-size: 30px;
  display:inline-block;
  text-decoration:none;
  color:white;
  font-weight:bold;
  min-width:132px;
  min-height:37px;
  border:1px solid black;
  border-radius:12px;
  text-align:center;
  background-color:skyblue;
  box-shadow:8px 8px 8px gray;
  margin:10px;
  font-family: 'Josefin Sans', sans-serif;
}
.menu a:activate{
  background-color:green;
  position:relative;
  top:8px;
  left:8px;
}
#top {
 margin-right: 500%;
 font-size: 30px;
 color:black;
}

#middle {
 margin-top: -10px;
 margin-right: 500%;
 text-align:left;
 font-size: 30px;
}

#end {
 margin-top: -10px;
 margin-right: 500%;
 text-align:left;
 font-size: 30px;
}

#end2 {
 margin-top: -10px;
 margin-right: 500%;
 text-align:left;
 font-size: 30px;
}



table, th, td {
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 100%;
  table-layout: fixed;
  font-size: 20px;

}

#text1{
  border: none;
  padding: 25px;
  background: url(foodbackground.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 1000px;


}

@media only screen and (max-width: 768px) {
  table, th, td {
    font-size: 15px;
  }
}


