/* this is all for the navigation bar*/

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe6cc;
  position: relative;
  top: 0;
  width: 100%;
  border: 1px solid #e7e7e7;
  position: sticky;
  top: 10;
  z-index: 10;
}

.links {
  float: left;
}

.links a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.links a:hover:not(.active) {
  color: #ff9c33;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  z-index: 20;
  font-family: 'Jacques Francois Shadow', cursive;
}

/* footer styling */
footer {
  clear: both;
  margin-top: 5em;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
  border: 5px black;
  border-style: double;
  border-radius: 2px;
}

p.foot {
  font-family: 'Josefin Sans', sans-serif;
}
