* {
  box-sizing: border-box;
}
h1{
    text-align: center;
}
h2{
    text-align: left;
}

h3{
    text-align: center;
}
body {font-family:"lato", serif;

}
.menu a{
  font-size: 30px;
  text-decoration: none;
  color: black;
}
#top {
 /* margin-top: 150%; */
 margin-right: 500%;
 font-size: 30px;
 /* margin-bottom: 100%
 padding-bottom: 25%;
 text-align:left; */
}

#middle {
 margin-top: 150%;
 margin-right: 500%;
 margin-bottom: 100%
 padding-bottom: 25%;
 text-align:left;
 font-size: 30px;
}

#end {
 margin-top: 150%;
 margin-right: 500%;
 margin-bottom: 100%
 padding-bottom: 25%;
 text-align:left;
 font-size: 30px;
}

#end2 {
 margin-top: 150%;
 margin-right: 500%;
 margin-bottom: 100%
 padding-bottom: 25%;
 text-align:left;
 font-size: 30px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
