* {
  box-sizing: border-box;
}
h1{
    text-align: center;
    color:black;

}
h2{
    text-align: left;

}

h3{
    text-align: center;

}
body {font-family:"lato", serif;


}
html {
 scroll-behavior: smooth;
}


.menu a{
  font-size: 30px;
  display:inline-block;
  text-decoration:none;
  color:white;
  font-weight:bold;
  min-width:132px;
  min-height:37px;
  border:1px solid black;
  border-radius:12px;
  text-align:center;
  background-color:skyblue;
  box-shadow:8px 8px 8px gray;
  margin:10px;
}
.menu a:activate{
  background-color:green;
  position:relative;
  top:8px;
  left:8px;
}
#top {
  margin-right: 500%;
 font-size: 30px;
 color:black;
}

#middle {
 margin-top: -10px;
 margin-right: 500%;
 text-align:left;
 font-size: 30px

}

#end {
 margin-top: -10px;
 margin-right: 500%;
 text-align:left;
 font-size: 30px;
}

#end2 {
 margin-top: -10px;
 margin-right: 500%;
 text-align:left;
 font-size: 30px;
}



table {
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  table-layout: fixed;
  width: 100%;

}
